// =========================
// colors
// =========================
$accent-color: #2897EB;
$primary-color: #EB9F29;

// grays
$master-gray: #F0F0F0;
$master-l-10: mix(white, $master-gray, 10%);
$master-d-10: mix(black, $master-gray, 10%);
$master-d-15: mix(black, $master-gray, 15%);