// =========================
// colors
// =========================
$main-color: white;
$primary-color: #EB9F29;

// greys
$master-grey: #F0F0F0;
$master-5: mix(black, $master-grey, 5%);
$master-10: mix(black, $master-grey, 10%);
$master-15: mix(black, $master-grey, 15%);