@use 'colors';

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

$header-height: 200px;
$page-width: 850px;
$section-padding: 3% 10%;
$font-stack: Helvetica, arial, sans-serif;

body {
    margin: 0;
    font-family: $font-stack;
    color: white;
}

.background {
    // @include transform(rotate(-40deg));
    z-index: -1000;
    background-color: colors.$master-gray;

    .background1 {
        height: 300px;
    }
}

header {
    max-height: $header-height;
    background-color: colors.$accent-color;
    border-bottom: 10px solid #005A9E;
    max-width: $page-width;
    margin: 0 auto;

    .header {
        padding: $section-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .my-name h1 {
        font-size: 50px;
    }
}

main {
    max-width: $page-width;
    margin: 0 auto;

    h1 {
        color: white;
        font-size: 40px;
        -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    }
}

.section1 {
    background-color: colors.$primary-color;
    height: 1000px - $header-height;
    padding: $section-padding;
}