@use 'colors';

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
    
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
%flex-column {
    display: flex;
    flex-direction: column;
}

%progress-bar {
    border: 1px solid lightgray;
    width: 100%;
    height: 10px;
}

$header-height: 170px;
$page-width: 850px;
$section-padding: 20px 70px;
$font-stack: Helvetica, arial, sans-serif;

body {
    margin: 100px 0;
    font-family: $font-stack;
    color: black;
    background-color: colors.$master-grey;
    position: relative;
}

.background {
    @include transform(rotate(180deg));
    @extend %flex-column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;

    .background1 {
        height: 600px;
        width: 100vw;
        background-color: colors.$master-5;

        .background2 {
            height: 300px;
            width: 100vw;
            background-color: colors.$master-10;

            .background3 {
                height: 100px;
                width: 100vw;
                background-color: colors.$master-15;
            }
        }
    }
}

.page {
    @include box-shadow(0px 0px 15px);
    max-width: $page-width;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    height: 1000px;
}

header {
    height: $header-height;
    background-color: colors.$main-color;
    border-bottom: 10px solid colors.$primary-color;

    .header {
        padding: $section-padding;
        @extend %flex-row;
        margin: 0;
    }

    .my-name h1 {
        font-size: 50px;
        color: colors.$primary-color;
    }

    .current-position {
        color: colors.$primary-color;
        opacity: 0.5;
        font-size: 25px;
    }
}

main {
    color: black;

    h1 {
        color: white;
        font-size: 30px;
        -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: colors.$primary-color;
    }

    h5 {
        color: colors.$primary-color;
    }
}

.the-resume {
    display: flex;
    flex-direction: row;

    h1 {
        margin-bottom: 0;
    }

    p {
        font-size: 14px;
    }
}

.sidebar {
    @extend %flex-column;
    height: 820px;

    .contact {
        background-color: colors.$main-color;
        width: 150px;
        height: 50%;
        padding: $section-padding;
        border-bottom: 2px solid colors.$primary-color;
        border-right: 2px solid colors.$primary-color;

        h1, h5 {
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
            opacity: .5;
        }
    }

    .skills {
        background-color: colors.$main-color;
        width: 150px;
        height: 50%;
        padding: $section-padding;
        border-right: 2px solid colors.$primary-color;
        line-height: 1.5;

        h1 {
            margin-bottom: 0;
        }

        h5 {
            margin: 20px 0 5px;
        }

        .protools-bar {
            @extend %progress-bar;
            background-color: lightgray;
            width: 80%;
            height: 10px;
        }

        .illustrator-bar {
            @extend %progress-bar;
            background-color: lightgray;
            width: 60%;
            height: 10px;
        }

        .premiere-bar {
            @extend %progress-bar;
            background-color: lightgray;
            width: 50%;
            height: 10px;
        }

        .html-bar {
            @extend %progress-bar;
            background-color: lightgray;
            width: 70%;
            height: 10px;
        }
    }
}

.rest-resume {
    @extend %flex-column;
    height: 820px;
    width: $page-width - 292px;

    .profile {
        background-color: colors.$main-color;
        height: 15%;
        padding: $section-padding;
        line-height: 1.5;
    }

    .social {
        background-color: colors.$main-color;
        height: 20%;
        padding: $section-padding;
        line-height: 1.5;
    }

    .education {
        background-color: colors.$main-color;
        height: 30%;
        padding: $section-padding;
        line-height: 1.5;

        .school {
            display: flex;
            align-items: center;

            .school-years {
                opacity: .5;
                margin-left: auto;
            }

            h5 {
                margin-right: 15px;
            }
        }
    }

    .experience {
        background-color: colors.$main-color;
        height: 35%;
        padding: $section-padding;
        line-height: 1.5;

        .job-experience {
            display: flex;
            align-items: center;

            .job-years {
                opacity: .5;
                margin-left: auto;
            }
        }
    }
}