$header-height: 150px;
$page-width: 100vw;
$accent-color: #16A4B8;
$main-color: #05EB87;
$section-padding: 3% 10%;

body {
    margin: 0;
    font-family: Helvetica;
    color: white;
}

h1 {
        color: white;
        font-size: 40px;
        -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

header {
    height: $header-height;
    background-color: $accent-color;
    border-bottom: 10px solid #387B85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $section-padding;
}

.profile-pic img {
    height: 150px;
    width: 150px;
    border: 10px solid #387B85;
    border-radius: 50%;
}

.section1 {
    background-color: $main-color;
    height: 1000px - $header-height;
    padding: $section-padding;
}